@import 'tailwindcss';

@keyframes ticker {
    0% {
        transform: translateX(0);
    }
    100%{
        transform: translateX(-50%);
    }
}

.ticker-track {
    animation: ticker 20s linear infinite;
    display: flex;
    width: max-content;
}

.ticker-wrapper {
    overflow: hidden;
    width: 100%;
}


@layer base{
    body{
        @apply bg-blue-50;
    }
}